@import url(blocks/page/page.css);
@import url(blocks/header/header.css);
@import url(blocks/lead/lead.css);
@import url(blocks/intro/intro.css);

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inter-v19-cyrillic_latin-regular.woff2") format("woff2");
}

/* inter-900 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/inter-v19-cyrillic_latin-900.woff2") format("woff2");
}

:root {
  /* colours */
  --main-color: #2a2c2f;
  --second-color: #ffffff;
  --url-color: #aaaaaa;

  /* fonts */
  --font-main: "Inter", "Arial", sans-serif;

  /* font-sizes */
  --font-weight-main: normal;
  --font-weight-second: 900;

  /* variable defining horizontal margin/padding */
  --pad: 48px;
  --mg-bottom: 92px;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  :root {
    --pad: 24px;
    --mg-bottom: 88px;
  }
}

@media screen and (max-width: 544px) {
  :root {
    --pad: 20px;
    --mg-bottom: 76px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --pad: 16px;
    --mg-bottom: 64px;
  }
}
