@import url(__head/lead__head.css);
@import url(__image/lead__image.css);
@import url(__title/lead__title.css);
@import url(__subtitle/lead__sublitle.css);
@import url(__image-subline/lead__image-subline.css);

.lead {
  text-align: center;
  width: 100%;
  max-width: clamp(984px, 76vw, 1824px);
  margin: 0 auto var(--mg-bottom);
}
