.footer__link {
  color: var(--second-color);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 684px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
