.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: 0.8;
  cursor: pointer;
}
