@import url(__image/photo__image.css);

.photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto var(--mg-bottom);
  width: calc(100% - var(--pad) * 2);
  max-width: clamp(984px, 76vw, 1824px);
}

@media screen and (max-width: 1024px) {
  .photo {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo {
    gap: 12px;
  }
}
