@import url(__image/photo__image.css);

.photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 var(--pad) var(--mg-bottom);
}

@media screen and (max-width: 1024px) {
  .photo {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo {
    gap: 12px;
  }
}
